@mixin font-header-heading {
  font-size: rem(24, 16);
  font-weight: 600;
  letter-spacing: em(24, 0.17);
  line-height: lineHeight(36, 24);
  text-align: center;
}

@mixin font-header-text {
  font-size: rem(15, 16);
  font-weight: 400;
  line-height: lineHeight(25, 15);
  opacity: 50%;
  text-align: center;
}

@mixin font-box-heading {
  font-size: rem(20, 16);
  font-weight: 600;
  line-height: lineHeight(30, 20);
}

@mixin font-box-text {
  font-size: rem(13, 16);
  font-weight: 400;
  letter-spacing: em(13, 0.09);
  line-height: lineHeight(23, 13);
  opacity: 50%;
}

@mixin pRegular {
  font: {
    size: rem(16px);
    weight: 400;
  }
  letter-spacing: -0.0125em;
  line-height: lineHeight(26, 16);
}
