/***********************************************************/
/*********************** Color Primary *********************/
/***********************************************************/

$color-primary-blue: #549ef2;
$color-primary-orange: #fcae4a;
$color-primary-red: #ea5454;
$color-primary-cyan: #44d3d2;

/***********************************************************/
/*********************** Color Neutral *********************/
/***********************************************************/

$color-neutral-very-dark-blue: #4c4e61;
$color-neutral-grayish-blue: #a3a5ae;
$color-neutral-very-light-grey: #fafafa;
