@import "./partials/variables", "./partials/functions";

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: rem(64, 16) rem(32, 16) rem(92, 16) rem(32, 16);
  min-height: rem(310, 16);
  width: rem(311, 16);
}
