.button {
  background-color: $color-green;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.09);
  color: $color-white;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: em(1, 15);
  line-height: lineHeight(26, 15);
  padding: 1.5rem 4.2rem;
  text-align: center;
  text-transform: uppercase;
}

.button:active {
  background-color: $color-green;
}

.button:hover {
  background-color: $color-green-light;
}

/***********************************************************/
/**************** @media (min-width: 1230px) ***************/
/***********************************************************/
@media (min-width: 1230px) {
}

/************************* Navigation **********************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

/************************* Formular ************************/
.form {
  background-color: transparent;
  border: 1px solid $color-primary-desatured-red;
  border-radius: 28px;
  height: rem(48, 16);
  position: relative;
  width: rem(311, 16);
}

.email {
  background-color: transparent;
  border: none;
  color: $color-neutral-dark-grayish-red;
  font-size: rem(14, 16);
  height: rem(48, 16);
  margin-left: rem(30, 16);
  outline: none;
  width: rem(170, 16);
}

.email::placeholder {
  color: $color-primary-desatured-red;
  font-size: rem(14, 16);
  line-height: lineHeight(28, 16);
}

.error-message {
  color: $color-primary-soft-red;
  font-size: rem(13, 16);
  margin-left: 1.8rem;
  margin-top: 0.5rem;
}

.error-border {
  border: 2px solid $color-primary-soft-red;
}

.error-icon {
  display: none;
  position: absolute;
  right: rem(72, 16);
  top: rem(10, 16);
}

.show-error {
  display: block;
}

.button {
  align-items: center;
  background: linear-gradient(
    -45deg,
    $color-gradient-sea-pink,
    $color-gradient-mandys-pink
  );
  border: none;
  border-radius: 28px;
  box-shadow: 0 15px 20px rgba(198, 110, 110, 0.25);
  color: rgb(198, 110, 110);
  cursor: pointer;
  display: flex;
  height: rem(50, 16);
  justify-content: center;
  position: absolute;
  right: rem(-2.5, 16);
  top: rem(-2.5, 16);
  width: rem(66, 16);
}

.button:hover {
  background: #f3c9c9;
}

/***********************************************************/
/*************** GENERAL REUSABLE COMPONENTS ***************/
/***********************************************************/

.font-weight_light {
  // color: $color-primary-desatured-red;
  font-weight: 300;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* Put transition on original "state" */
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  /* border: 3px solid #fff; */

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}
