@import "./partials/variables", "./partials/functions", "./partials/mixins";

@import "./partials/variables", "./partials/functions";

* {
  box-sizing: border-box;
  // font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  // background-color: $color-light-gray;
  // color: #555;
  // display: grid;
  // font-family: "Karla", sans-serif;
  // font-weight: 400;
  // place-content: center;
  // justify-content: center;
  // align-items: center;
  // font-size: 1.6rem;
  // line-height: 1;
}

.website {
  // align-items: center;
  // display: flex;
  // flex-direction: column;
  // height: 100vh;
  // width: 100vw;
  // position: relative;
}

/***********************************************************/
/*************** GENERAL REUSABLE COMPONENTS ***************/
/***********************************************************/

.rc__font-weight-bold {
  font-weight: 700;
}
.rc__font-weight-bold-red {
  color: $color-red;
  cursor: pointer;
  font-weight: 700;
}
