@import './partials/variables', './partials/functions';

.main {
  // align-items: center;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // margin: rem(64, 16) rem(32, 16) rem(92, 16) rem(32, 16);
  // min-height: rem(310, 16);
  // width: rem(311, 16);
  background-color: #fff;
  box-shadow: 0 30px 60px rgba(61, 108, 236, 0.15);
  border-radius: 32px;
  display: flex;
  width: 73.6rem;
  height: 51.2rem;
}

.section-result {
  background-image: linear-gradient(to bottom, #7755ff, #2f2ce9);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.8rem 5.4rem 5.5rem;
  width: 36.8rem;
  height: 51.2rem;
  justify-content: space-between;
  color: #cac9ff;
}

.circle-result {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #4d21c9, rgba(36, 33, 202, 0.1));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-description__heading {
  margin-bottom: 1rem;
}

.section-summary {
  background-color: transparent;
  padding: 3.8rem 4rem 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #303b59;
}

.section-summary__categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.box {
  background-color: red;
  border-radius: 12px;
  display: flex;
  padding: 1.65rem 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  justify-content: space-between;
}

.boxx {
  display: flex;
}

.name {
  margin-left: 1rem;
}

.reaction {
  background-color: rgba(255, 85, 85, 0.05);
  color: #ff5555;
}

.memory {
  background-color: rgba(255, 176, 30, 0.05);
  color: #ffb21e;
}

.verbal {
  background-color: rgba(0, 187, 143, 0.05);
  color: #00bb8f;
}

.visual {
  background-color: rgba(17, 37, 214, 0.05);
  color: #1125d6;
}

.btn {
  background-color: #303b59;
  color: #fff;
  border: none;
  border-radius: 12.8rem;
  padding: 1.65rem 9.65rem;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.5s;
}

.btn:hover {
  background-image: linear-gradient(to bottom, #6943ff, #2f2ce9);
}

a {
  text-decoration: none;
}

@media (max-width: 790px) {
  .main {
    border-radius: 0;
    width: 37.5rem;
    height: 80.9rem;
    flex-direction: column;
  }

  .section-result {
    background-image: linear-gradient(to bottom, #7755ff, #2f2ce9);
    border-radius: 0 0 32px 32px;
    padding: 2.4rem 5.8rem 4rem;
    width: 37.5rem;
    height: 35.6rem;
    box-shadow: 0 30px 60px rgba(61, 108, 236, 0.15);
  }

  .circle-result {
    width: 14rem;
    height: 14rem;
  }

  .result-description__heading {
    margin-bottom: 1rem;
  }

  .section-summary {
    padding: 2.4rem 2.9rem 3rem;
  }

  // button {
  //   transition: all 0.5s ease-in;
  // }

  .section-summary__heading {
    margin-bottom: 2.4rem;
  }

  .section-summary__categories {
    gap: 1.6rem;
  }

  .box {
    font-size: 1.6rem;
  }

  .boxx {
    display: flex;
  }

  .btn {
    margin-top: 2.4rem;
  }
}

@media (max-width: 428px) {
  .main {
    width: 100vw;
    height: 100vh;
  }
  .section-result {
    width: 100vw;
    height: 35.6rem;
  }

  .section-summary {
    padding: 2.4rem 2.9rem 3rem;
  }
}
